/** Credits https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 0 auto;
  font-size: 3px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(13, 197, 193, 0.2);
  border-right: 1.1em solid rgba(13, 197, 193, 0.2);
  border-bottom: 1.1em solid rgba(13, 197, 193, 0.2);
  border-left: 1.1em solid #0dc5c1;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.option {
  margin: 3px;
  margin-bottom: 0;
  width: 100%;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  font-size: 13px;
  padding: 6px 12px;

  &:hover {
    color: white;
  }

  &__save {
    &:hover {
      background-color: #4caf50;
    }
    border: 2px solid #4caf50;
  }

  &__cancel {
    &:hover {
      background-color: #a8230c;
    }
    border: 2px solid #a8230c;
  }
}

.key-bind {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.button-container {
  display: flex;
  flex-direction: row;
}
